.board-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 200px;

    background-color: #3574f2;
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
    color: #ffffff;

    border-radius: 8px;

    cursor: pointer;
    overflow: hidden;
}

.board-card-wrapper img {
    width: 100%;
}

.board-card-wrapper .card-attribute-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    padding: 16px;
}

.board-card-wrapper .card-attribute-wrapper .card-attribute {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    pointer-events: none;

    width: 100%;
}

.board-lane-wrapper.selectable .board-card-wrapper:hover {
    box-shadow: 0px 0px 10px #000000;
}

.board-card-wrapper.selected {
    box-shadow: 0px 0px 10px #000000;
}



/* .board-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 200px;
    width: 150px;
    padding: 16px;

    background-color: #3574f2;
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
    color: #ffffff;

    border-radius: 8px;

    cursor: pointer;
}

.board-lane-wrapper.selectable .board-card-wrapper:hover {
    box-shadow: 0px 0px 10px #000000;
}

.board-card-wrapper.selected {
    box-shadow: 0px 0px 10px #000000;
}

.board-card-wrapper .card-attribute {
    display: flex;
    justify-content: space-between;
    align-items: center; 

    pointer-events: none;

    width: 100%;
}


.board-card-wrapper {
    transition: box-shadow .08s ease-out;
} */